<div class="row" id="quick_metrics">
  <div class="span4">
    <h3>Tracked Athletes</h3>
    <p>33<small>in 45 sports</small></p>
  </div>
  
  <div class="span4">
    <h3>Issues Resolved</h3>
    <p>1435<small>134 this week</small></p>
  </div>
  
  <div class="span4">
    <h3>Some metric</h3>
    <p>Numbers</p>
  </div>
</div>

<div class="row" id="quick_stats">
  <div class="span3">
    <ul class="nav nav-list well">
      <li class="nav-header">
        Quick Links
      </li>
      <li>
        <a href="#">
          <i class="icon-book"></i>
          Library
        </a>
      </li>
    </ul>
  </div>
  
  <div class="span3">
    <h4>Latest Issues</h4>
    <ul>
      <li>test</li>
      <li>test</li>
      <li>test</li>
    </ul>
  </div>
  
  <div class="span3">
    <h4>Most Issues by Athlete</h4>
    <ul>
      <li>test1</li>
      <li>test1</li>
      <li>test1</li>
    </ul>
  </div>
  
  <div class="span3">
    <h4>Most Issues by Sport</h4>
    <ul>
      <li>test2</li>
      <li>test2</li>
      <li>test2</li>
    </ul>
  </div>
</div>