<h1>Sport</h1>

<p>
  <b>Name</b><br>
  <%= @sport.name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', sports_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_sport_path(@sport), :class => 'btn' %>
  <%= link_to 'Delete', sport_path(@sport), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
